.icon.icon-chat {
    width: 51px;
    height: 54px;
}

.icon.icon-document {
    width: 45px;
    height: 51px;
}

.icon-letter-bigger {
    width: 52px;
    height: 49px;
}

.icon.icon-chat {
    width: 51px;
    height: 54px;
}

.icon.icon-gift {
    width: 44px;
    height: 44px;
}

.icon-document-harm {
    width: 44px;
    height: 44px;
}

.icon-box-chat:hover .icon-chat:after {
    background: url('../images/icons/icon-chat.png') no-repeat center / 100%;
}

.icon-box-document:hover .icon-document:after {
    background: url('../images/icons/icon-document-blue.png') no-repeat center / 100%;
}

.icon-box-letter:hover .icon-letter-bigger:after {
    background: url('../images/icons/icon-letter-bigger-blue.png') no-repeat center / 100%;
}

.icon-box-gift:hover .icon-gift:after {
    background: url('../images/icons/icon-gift-blue.png') no-repeat center / 100%;
}

.icon-box-document-harm:hover .icon-document-harm:after {
    background: url('../images/icons/document-harm-blue.png') no-repeat center / 100%;
}

#icon-boxes .box-wapper {
    display: grid;
    grid-template-columns: 23.61% 23.61% 23.61% calc(100% - 23.61% - 23.61% - 23.61%);
    height: 265px;
    align-items: center;
    border: 2px solid #ddd;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 59px 0 51px;
}

#icon-boxes .box-wapper .icon-box {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#icon-boxes .box-wapper .icon-box .item-icon .icon,
#icon-boxes .box-wapper .icon-box .item-icon {
    transition: all 0.3s ease;
}

#icon-boxes .box-wapper .icon-box:hover .item-icon {
    background-color: #eef7fd;
}

#icon-boxes .box-wapper .item-icon {
    width: 100px;
    height: 100px;
    background-color: #eee;
    display: grid;
    place-content: center;
    border-radius: 50%;
    margin-bottom: 11px;
}

.banner-card-box {
    position: relative;
}

.item-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#icon-boxes .box-wapper .item-title {
    font-size: 23px;
    font-weight: 700;
}

#icon-boxes .box-wapper .item-desc {
    font-size: 18px;
    font-weight: 300;
    color: #666;
    margin-top: 10px;
    max-width: 210px;
    word-break: keep-all;
    line-height: 22px;
}

#icon-boxes .box-wapper .icon-box+.icon-box::before {
    content: '';
    position: absolute;
    height: 168px;
    border-left: 2px dotted #d2d2d2;
    left: 0;
    box-sizing: border-box;
    width: 2px;
}

#icon-boxes .box-wapper .banner-card-box {
    width: 307px;
    height: 205px;
    background-image: url('../images/PAHAA010/card_contact.jpg');
    border-radius: 25px;
    padding: 54px 0 48px 75px;
}

#icon-boxes .box-wapper .banner-card-box .item-title {
    font-size: 23px;
    line-height: 18px;
}

#icon-boxes .box-wapper .banner-card-box .item-time {
    font-size: 19px;
    line-height: 25px;
    color: #333;
    margin-top: 13px;
}

#icon-boxes .box-wapper .banner-card-box .item-phone-number {
    font-size: 19px;
    line-height: 25px;
    color: #333;
    font-weight: 600;
}

/* Accodion */

#accordion .header-frame {
    padding-bottom: 21px;
}

#accordion .header-frame a,
#accordion .header-frame a span {
    color: #333;
}

#accordion .header-frame a:hover,
#accordion .header-frame a:hover span {
    color: #0068b7;
}

#accordion .header-frame h1 {
    font-size: 28px;
}

#accordion .accodion-item {
    border-bottom: 1px solid #ddd;
}

#accordion .accordion-question {
    font-size: 20px;
    font-weight: 300;
    padding: 20px 0 19px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 27px;
    padding-left: 32px;
    cursor: pointer;
}

#accordion .accodion-item.active {
    background-color: #f9f9f9;
}

#accordion .accodion-item.active .accordion-question {
    font-weight: 600;
}

#accordion .accodion-item .accordion-question .accordion-feature {
    font-weight: 800;
    font-size: 30px;
    color: #076ecc;
}

#accordion .accodion-item .accordion-ans {
    display: none;
    padding: 5px 78px 35px;
    font-size: 19px;
    font-weight: 300;
    color: #666;
    line-height: 24px;
}

/* Notification */

/* Notices news */
#notification {
    margin-top: 47px;
}

#notification .header-frame {
    color: #333;
}

#notification .header-frame a,
#notification .header-frame a span {
    color: #333;
    font-size: 18px;
}

#notification .header-frame a:hover,
#notification .header-frame a:hover span {
    color: #0068b7;
}

#notification .content-frame {
    display: flex;
    gap: 70px;
}

#notification .table li.wrap-item {
    display: flex;
}

#notification .table li.wrap-item+.wrap-item {
    padding: 10px 30px 9px;
}

#notification .table li.wrap-item {
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 9px;
}

#notification .table li.wrap-item+.wrap-item {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

#notification .table li .wrap-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 31px;
    padding-top: 0;
}

#notification .table li .date {
    font-size: 17px;
    font-weight: 300;
    color: #999;
}


#notification .top-table {
    border-color: #ddd;
    padding-bottom: 20px;
}

#notification .content-table li .item-title {
    font-size: 18px;
    line-height: 1;
}

#notification .content-table li .item-title:hover a {
    color: #076ecc;
}

#notification .content-table li .date {
    font-size: 17px;
    font-weight: 300;
    color: #999;
    padding-top: 0;
}

#notification .section-wrapper {
    display: flex;
    gap: 70px
}

#notification .section-wrapper .left-item {
    width: 100%;
}

#notification .icon-box-right {
    width: 380px;
    min-width: 380px;
    margin-top: 59px;
}

#notification .icon-box-right .icon-box {
    position: relative;
    border: 2px solid #999;
    height: 120px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 0 35px 0 41px;
    justify-content: space-between;
    border-radius: 10px;
}

#notification .icon-box-right .icon-box+.icon-box {
    margin-top: 10px;
}

#notification .item-icon {
    width: 75px;
    height: 75px;
    background-color: #eee;
    display: grid;
    place-content: center;
    border-radius: 50%;
}

#notification .icon-box-right .icon-box:hover {
    border-color: #076ecc;
}

#notification .icon-box-right .icon-box:hover .item-icon {
    width: 75px;
    height: 75px;
    background-color: #eef7fd;
    display: grid;
    place-content: center;
    border-radius: 50%;
}

#notification .item-title {
    font-size: 22px;
    font-weight: 600;
}

#notification .item-desc {
    font-size: 18px;
    font-weight: 300;
    color: #666;
    margin-top: 7px;
    word-break: keep-all;
    line-height: 22px;
}

/* Request Email */
h1.title {
    margin: 45px 0 21px;
}

#request-email .request {
    height: 60px;
    border: 1px solid #999;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 42px 0 22px;
    width: fit-content;
    gap: 68px;
    flex-wrap: wrap;
}

#request-email .request span {
    font-size: 24px;
    font-weight: 300;
    color: #696969;
}

#request-email .request button {
    height: 32px;
    box-sizing: border-box;
    border: 1px solid #666;
    background-color: #eee;
    border-radius: 10px;
    padding: 0 16px;
}

#request-email .table-horizontal {
    border-top: 1px solid #666;
    margin-top: 14px;
}

#request-email .table-horizontal li {
    border-bottom-color: #d3d3d3;
}

#request-email .table-horizontal li .table-title {
    width: 252px;
    font-size: 20px;
    font-weight: 300;
    color: #666;
    padding: 20px 0 20px 45px;
    background-color: #fafafa;
}

#request-email .table-horizontal li.custom-title .table-title span {
    color: #666;
}

#request-email .table-horizontal li .table-content {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: 12px 58px 12px 20px;
}

#request-email .table-horizontal li.row-has-require-bottom .table-content {
    padding-bottom: 35px;
}

#request-email .table-horizontal li.row-has-require-bottom .table-content>span {
    font-size: 16px;
    color: #696969;
    font-weight: 400;
}

#request-email .require-input {
    position: absolute;
    bottom: 12px;
    margin-left: 0;
    color: #076ecc;
    font-size: 15px;
    font-weight: 400;
}

#request-email .table-horizontal .content-form {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 3px;
}

#request-email .form-select-container>.form-select-cus {
    border-color: #bbb;
    font-size: 16px;
}

#request-email .form-select-container.active>.form-select-cus {
    border-color: transparent;
}


#request-email .form-select-cus>.form-option-placeholder {
    color: #696969;
    font-weight: 400;
    font-size: 16px;
}

#request-email .form .table-content input {
    font-size: 18px;
    width: 200px;
    border-radius: 5px;
    border-color: #bbb;
    height: 37px;
    margin: 0;
}

#request-email .form .table-content textarea {
    font-size: 18px;
    width: 100%;
    height: 278px;
    border-radius: 5px;
    border: 1px solid #bbb;
    padding: 20px 12px;
}

#request-email .content-form.form-phone {
    gap: 11px;
}

#request-email .content-form.form-phone input[type="number"] {
    width: 67px;
}

#request-email .content-form.form-email {
    gap: 8px;
}

#request-email .content-form.form-email input {
    width: 150px;
}

#request-email .content-form .form-select-container.select-phone {
    width: 97px;
    background-color: transparent;
}

#request-email input.input-title {
    width: 803px;
}

#request-email .table-horizontal li.border-none {
    border: none;
}

#request-email .table-horizontal li.border-none+li>div {
    align-items: flex-start;
}

#request-email .table-horizontal li.border-none>div {
    padding-bottom: 0;
}

#request-email .item-checkBox {
    margin: 72px 0 14px 0;
}

#request-email .item-checkBox label {
    align-items: center;
    display: flex;
}

#request-email .item-checkBox input[type="checkbox"]+span::before {
    width: 15px;
    height: 12px;
}

#request-email .item-checkBox>span {
    height: 23px;
    width: 23px;
    border-radius: 3px;
    border-color: #666;
}

#request-email .item-checkBox label span {
    font-size: 24px;
    font-weight: 400;
    color: #666;
    padding-left: 39px;
}

#request-email .item-checkBox strong {
    font-size: 22px;
    font-weight: 400;
    color: #ff0000;
    margin-left: 5px;
}

#request-email .table>li {
    display: grid;
    grid-template-columns: 26.39% calc(100% - 26.39% - 31.25%) 31.25%;
    align-items: center;
}

#request-email table {
    width: 100%;
    border-collapse: collapse;
}

#request-email table thead {
    height: 61px;
    background-color: #f6f6f6;
}

#request-email table tr {
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}

#request-email table tr:last-child {
    display: none;
}

#request-email table thead th {
    font-size: 22px;
    color: #666;
    padding: 20px 0 21px;
    font-weight: 400;
}

#request-email table td {
    border-bottom: 1px solid #d3d3d3;
    text-align: left;
    padding: 20px 0 17px;
    font-size: 22px;
    color: #666;
}

#request-email table .column1 {
    width: 26.39%;
    padding-left: 50px;
}

#request-email table .column2 {
    width: 42.36%;
}

#request-email table .column3 {
    width: 31.25%;
    padding-left: 30px;
    position: relative;

}

#request-email table .column3 ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    gap: 16px;
}

#request-email .column3 ul li {
    font-size: 22px;
    color: #666;
}

#request-email .require-form {
    font-size: 22px;
    color: #076ecc;
    margin-top: 20px;
    padding-left: 51px;
}

#request-email .button-group {
    margin-top: 66px;
}

#request-email .button-group button {
    font-size: 19px;
    background-color: #0068b7;
}

@media screen and (width <=1440px) {}

@media screen and (width <=1320px) {
    #request-email .request {
        gap: 15px;
        height: auto;
        padding: 15px;
    }

    #request-email .table-horizontal li .table-title {
        width: 100px;
        padding: 20px 0 20px 15px;
    }

    #request-email .table-horizontal li.row-has-require-bottom .table-content {
        flex-wrap: wrap;
    }

    #request-email .table-horizontal li .table-content {
        padding: 15px;
    }

    #request-email .table-horizontal li.row-has-require-bottom .table-content {
        padding-bottom: 50px;
    }

    #request-email table thead {
        display: none;
    }

    #request-email table tbody tr {
        display: flex;
        flex-direction: column;
        border-bottom: none;
    }

    #request-email table tbody tr:last-child {
        border-bottom: 1px solid #d3d3d3;
    }

    #request-email table td {
        border: none;
        display: flex;
        justify-content: space-between;
        word-break: keep-all;
        padding-left: 15px;
        gap: 30px;
        text-align: right;
    }

    #request-email table td:before {
        content: attr(data-label);
    }

    #request-email table .column1 {
        width: 100%;
        padding: 15px;
    }

    #request-email table .column2 {
        width: 100%;
        padding: 15px;
    }

    #request-email table .column3 {
        display: none;
    }

    #request-email .require-form {
        padding-left: 0;
    }

    #request-email table tr:last-child {
        display: block;
        padding-right: 15px;
    }

    #request-email table tr:last-child li {
        color: #666;
    }

    #request-email .custom-title .table-title {
        flex-direction: column;
        align-items: flex-start;

    }
}

/* Client Center Child  */

#client-center-child .tabs {
    border-bottom: none;
}

#client-center-child .tabs.short-tab li {
    max-width: 252px;
    box-sizing: border-box;
}

#client-center-child .tabs li span {
    height: 51px;
    border-color: #999;
    padding: 0 12px;
    font-size: 22px;
}


#client-center-child .tabs li.active {
    position: relative;
}

#client-center-child .tabs li.active span {
    color: #076ecc;
}

#client-center-child .tabs li.active:before {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #fff;
    bottom: -1px;
    left: 1px;
    right: 1px;
}

#client-center-child .tabs li.active span {
    border: 1px solid #0068b7;
    border-bottom-color: transparent;
}

#client-center-child .content-tab {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 0 0 10px 10px;
}

#client-center-child .content-tab .print-item {
    border: 1px solid #0068b7;
    border-bottom-color: transparent;
    height: 1296px;
    box-sizing: border-box;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #eee;
    border-radius: 0 0 10px 10px;
}

#client-center-child .content-tab .print-item span {
    font-size: 40px;
    color: #333;
}

@media screen and (width <=1440px) {
    #client-center-child .content-tab .print-item {
        height: 500px;
    }
}