.form-row {
    display: flex;
    align-items: center;
}

.form-row:not(:last-child) {
    margin-bottom: 20px;
}

/* radio */
.form-radio .group-radio {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-radio .group-radio label {
    cursor: pointer;
}

input[type='radio'] {
    accent-color: #00467b;
}

.title-value-radio {
    font-size: 20px;
    font-weight: 300;
}

/* input */
.form-row input:not([type="radio"]) {
    padding-left: 16px;
    width: 400px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #ddd;
    font-size: 19px;
    font-weight: 300;
}

/* button submit */
.submit-form {
    width: 160px;
    height: 45px;
    background-color: #0068b7;
    border-radius: 22px;
    font-weight: 600;
    font-size: 19px;
    color: #fff;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

/* select */
.form-row .form-select-container {
    height: 35px;
}

.form-row .form-select-container>.form-select-cus {
    border-radius: 3px;
}

.form-row .form-select-container>.form-select-cus>.form-option-placeholder {
    color: #666;
}

/* register form */
.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-form .form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.register-form .form-row:last-child {
    margin-bottom: 0;
}

.register-form .form-row .title-form {
    font-size: 24px;
    text-align: end;
    flex: 1;
}

.register-form .form-row .group-form {
    display: flex;
    align-items: center;
    width: 300px;
    height: 40px;
    gap: 7px;
}

.register-form .form-row .group-form input {
    border: 1px solid #bbb;
    background-color: #fafafa;
    border-radius: 5px;
    padding: 0 12px;
    width: 100%;
}

.register-form .form-row.form-phone .group-form input {
    width: 70px;
    text-align: center;
}

.register-form .form-select-container {
    height: 100%;
}

.register-form .form-select-container .form-select-cus .form-option-wrapper {
    border-radius: 5px;
}

.register-form .form-select-container .form-select-cus .form-option-wrapper .form-option-placeholder-container .form-option-placeholder:hover {
    border-radius: 5px 5px 0 0;
}

.register-form .form-select-container .form-select-cus .form-option-wrapper .form-option-container .form-option:last-child:hover {
    border-radius: 0 0 5px 5px;
}

.register-form .form-select-container.active .form-select-cus {
    border-color: transparent;
}

.register-form .form-select-container .form-select-cus {
    border-radius: 5px;
    border-color: #bbb;
    background-color: #fafafa;
}

.register-form .form-row .form-select-container.select-month,
.register-form .form-row .form-select-container.select-day {
    width: 83px;
}