/* top ads */
#topAds .topAds-wrap {
    background: url('../images/top-ads.png') no-repeat center / cover;
    height: 81px;
    background-color: #f3f2ff;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#topAds .topAds-wrap .topAds-content {
    display: flex;
    align-items: center;
    gap: 18px;
}

#topAds .topAds-wrap .text {
    font-size: 24px;
    pointer-events: none;
    white-space: nowrap;
}

#topAds .topAds-wrap .btn-primary {
    color: #fff;
    background: #448aca;
    padding: 10px 12px;
    font-size: 19px;
    border-radius: 17px;
    width: auto;
    font-weight: 700;
    white-space: nowrap;
}

#topAds .topAds-wrap .topAds-img {
    position: relative;
    width: 120px;
    height: 108px;
    bottom: -30px;
    pointer-events: none;
}

#topAds .topAds-wrap .close-topAds-wrap {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    font-size: 19px;
}

#topAds .topAds-wrap .close-topAds-wrap>label {
    margin-right: 39px;
    margin-left: 5px;
    font-weight: 100;
}

#topAds .topAds-wrap .close-topAds-wrap .close-ads {
    position: relative;
    width: 32px;
    height: 32px;
    margin-right: 32px;
    background-color: transparent;
}

#topAds .topAds-wrap .close-topAds-wrap .close-ads::after {
    content: '';
    height: 100%;
    position: absolute;
    transform: rotate(45deg);
    width: 1px;
    height: 100%;
    background: #000;
    top: 0;
}

#topAds .topAds-wrap .close-topAds-wrap .close-ads::before {
    content: '';
    height: 100%;
    position: absolute;
    transform: rotate(-45deg);
    width: 1px;
    height: 100%;
    background: #000;
    top: 0;
}

@media screen and (width <=1590px) {
    #topAds .topAds-wrap .close-topAds-wrap>label {
        margin-right: 0;
        max-width: 140px;
    }

    #topAds .topAds-wrap .close-topAds-wrap .close-ads {
        margin-right: 12px;
    }
}

@media screen and (width <=1320px) {
    #topAds {
        display: none;
    }
}

/* end top ads */

/* header */
#header .header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
    position: relative;
}

#header .header-wrap .header-left {
    display: flex;
    gap: 29px;
    width: 100%;
}

#header .header-wrap .header-left .logo {
    width: 170px;
    height: 100%;
    object-fit: contain;
}

#header .header-wrap .header-left .search-wrap {
    position: relative;
    height: 50px;
    width: 100%;
    flex: 1;
    max-width: 580px;
}

#header .header-wrap .header-left .search-wrap>input {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: 2px solid #076ecc;
    padding: 16px 20px;
}

#header .header-wrap .nav-wrap {
    position: absolute;
    top: 50px;
    right: 0;
    gap: 30px;
    display: none;
}

@media screen and (width <=1320px) {
    #header .header-wrap .header-left {
        flex-direction: column;
        gap: 30px;
    }

    #header .header-wrap .header-right {
        display: none;
    }

    #header .header-wrap .header-left .search-wrap {
        max-width: unset;
    }

    #header .header-wrap .nav-wrap {
        display: flex;
    }
}

/* end header */

/* navbar */
#navbar {
    padding-bottom: 33px;
    box-shadow: 2px 3px 10px 0px rgba(6, 0, 1, 0.1);
    position: relative;
}

#navbar::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: -5px;
}

#navbar .navbar-wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#navbar .navbar-wrap .menu {
    gap: 60px;
    display: flex;
    align-items: center;
}

#navbar .navbar-wrap .menu .total-menu {
    position: absolute;
    display: none;
}

#navbar .navbar-wrap .menu .icon-hamburger-bar {
    width: 20px;
    height: 14px;
}

#navbar .navbar-wrap .menu>ul {
    display: flex;
    gap: 60px;
    font-size: 21px;
    font-weight: 700;
}

#navbar .navbar-wrap .menu .active {
    color: #0068b7;
}

#navbar .navbar-wrap .auth {
    display: flex;
    gap: 25px;
}

@media screen and (width <=1320px) {
    #navbar {
        display: none;
    }
}

/* end navbar */

/* footer */
#footer {
    height: 230px;
    background: #f3f7f8;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* end footer */