.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icon::after {
    width: 100%;
    height: 100%;
}

.icon-find {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 21px;
    margin: auto;
    width: 19px;
    height: 19px;
}

.icon-find::after {
    content: '';
    background: url('../images/icons/icon-find.png') no-repeat center / 100% 100%;
}

.icon-bell {
    width: 30px;
    height: 30px;
}

.icon-bell::after {
    content: '';
    background: url('../images/icons/icon-bell.png') no-repeat center / contain;
}

.icon-hamburger-bar {
    width: 30px;
    height: 30px;
}

.icon-hamburger-bar::after {
    content: '';
    background: url('../images/icons/icon-hamburger-bar.png') no-repeat center / contain;
}

.icon-dropdown {
    width: 10px;
    height: 6px;
}

.icon-dropdown::after {
    content: '';
    background: url('../images/arrow-down.png') no-repeat center / contain;

.icon-blank,
.icon-star {
    width: 14px;
    height: 14px;
}

.icon-blank::after {
    content: '';
    background: url('../images/icons/icon-blank.png') no-repeat center / contain;
}

.icon-star::after {
    content: '';
    background: url('../images/icons/icon-star.png') no-repeat center / contain;
}

.icon-next,
.icon-prev {
    display: flex;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;

}

.icon-next:hover,
.icon-prev:hover {
    background-color: #eee;
}

.icon-next::after {
    content: '';
    background: url('../images/icons/icon-right.png') no-repeat center / contain;
    height: 10px;
}

.icon-prev::after {
    content: '';
    background: url('../images/icons/icon-left.png') no-repeat center / contain;
    height: 10px;
}