#search-content {
    padding: 30px 0 100px;
}

#search-content .title-results {
    font-size: 28px;
    font-weight: 300;
    color: #000;
    margin-bottom: 19px;
}


/* Tab Form */
#search-content .wrap-tab {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #333;
    padding: 0;
}

#search-content .wrap-tab li {
    width: 100%;
    max-width: 140px;

}

#search-content .wrap-tab li a {
    display: block;
    border: none;
    outline: none;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 10px 10px 0 0;
    color: #999;
    font-size: 19px;
    line-height: 48px;
    background-color: #f3f7f8;
    text-align: center;
}

#search-content .wrap-tab li.active a {
    border: none;
    outline: none;
    background-color: transparent;
    border: 1px solid #000;
    border-bottom: 1px solid transparent;
    color: #333;
    font-weight: 700;
}

/* Results */
#search-content .results-text a {
    font-size: 20px;
    font-weight: 600;
    color: #0068b7;
}

#search-content .results-text span {
    font-size: 20px;
    font-weight: 300;
    color: #666;
}

#search-content .section {
    margin-top: 30px;
}

#search-content .section .content-table {
    padding: 0 30px;
}


/* Table */
#search-content .top-table {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    padding-bottom: 22px;
}

#search-content .count-results {
    font-size: 22px;
    font-weight: 300;
    color: #666;
}

#search-content .count-results>span {
    font-size: 18px;
    font-weight: 300;
    color: #666;
}

#search-content .count-results .high-light-number {
    font-size: 18px;
    font-weight: 700;
    color: #666;
}

#search-content .more-results {
    font-size: 18px;
    font-weight: 300;
}

#search-content .more-results.blue {
    color: #0068b7;
}

#search-content .more-results.green {
    color: #80b156;
}

#search-content .more-results.light-blue {
    color: #009e96;
}

#search-content .more-results.red {
    color: #f29c9f;
}

/* Section 3 */

#search-content .section-3 .content-table>li {
    padding-bottom: 17px;
    margin-top: 22px;
    display: flex;
    padding: 0;
}

#search-content .content-table li .status.blue {
    color: #0068b7;
    border: 1px solid #0068b7;
}

#search-content .content-table li .status.green {
    color: #80b156;
    border: 1px solid #80b156;
}


#search-content .content-table.style-2-column li.wrap-item {
    padding-bottom: 17px;
    margin-top: 22px;
    justify-content: space-between;
    align-items: center;
}

#search-content .content-table.style-2-column li .wrap-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#search-content .section-3 .content-table li .result-title {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 0;
}

#search-content .section-3 .content-table li .date {
    font-size: 18px;
    font-weight: 300;
    color: #999;
}


/* Section 4 */

/* .content-table {} */

#search-content .section-4 .content-table li {
    display: flex;
    gap: 60px;
    margin-top: 33px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 34px;
}

/* .content-table li .result-item {}

.content-table li .result-item .wrapImg {}

.content-table li .result-item .wrapImg img {}

.content-table li .result-item .wrap-content {} */

#search-content .content-table li .result-item .wrap-content .result-title {
    font-size: 19px;
    font-weight: 600;
    color: #333;
    margin-top: 18px;
    margin-bottom: 12px;
}

.content-table li .result-item .wrap-content .wrapMeta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

#search-content .content-table li .status {
    font-size: 16px;
    font-weight: 600;
    color: #666;
    padding: 4px 14px;
    border: 1px solid #666;
    border-radius: 30px;
    height: fit-content;
    white-space: nowrap;
}

#search-content .content-table li .status.red {
    color: #f29c9f;
    border: 1px solid #f29c9f;
}

/* .content-table li .result-item .wrap-content .wrapMeta .wrap-date {} */

#search-content .content-table li .result-item .wrap-content .wrapMeta .wrap-date span {
    font-size: 18px;
    font-weight: 300;
    color: #666;
}

#search-content .content-table li .result-item .wrap-content .wrapMeta .wrap-date span.start-date+span.end-date:before {
    content: "~";
    margin-right: 3px;
}



/* Responsive */
@media screen and (max-width: 1320px) {
    #search-content .section .content-table {
        padding: 0;
    }

    #search-content .content-table li {
        flex-direction: column;
        gap: 20px;
    }

}