#wrap-search {
    margin-bottom: 95px;
}

#wrap-search .titleText {
    font-size: 40px;
    margin-bottom: 17px;
    font-weight: 500;
}

#wrap-search .border-bottom-blue {
    border: 1px solid #00467b;
}

#instruct {
    width: 100%;
    max-width: 1100px;
    min-height: 250px;
    max-width: 1100px;
    height: 250px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 39px auto 11px auto;
}

#wrap-search .group-notifi {
    padding: 0 100px 0 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#wrap-search .title-notifi {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 19px;
}

#wrap-search .title-notifi-child li {
    position: relative;
    padding-left: 15px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
}

#wrap-search .title-notifi-child li::before {
    content: "";
    background-color: #8898a4;
    width: 5px;
    height: 5px;
    position: absolute;
    left: 0;
    top: 11px;
    border-radius: 50px;
}

#wrap-search #tab-search {
    width: 1100px;
    margin: 0 auto;
}

#wrap-search .tabs {
    border-bottom: transparent;
    height: 49px;
}

#wrap-search .tabs li {
    cursor: pointer;
    height: 100%;
}

#wrap-search .tabs li span {
    border-color: transparent;
    border-bottom: 1px solid #333;
    background-color: #f9f9f9;
    height: 100%;
    position: relative;
}

#wrap-search .tabs li.active span {
    background-color: #fff;
    border-color: #030303;
    border-bottom: 1px solid transparent;
}

#wrap-search .icon-magnifying-glass {
    width: 25px;
    height: 25px;
}

#wrap-search .tabs li .icon {
    display: none;
}

#wrap-search .submit-form {
    position: absolute;
    bottom: -75px;
    left: 0;
    right: 0;
}

.tabs li.active .icon {
    display: flex !important;
}

.tab-content-item {
    position: relative;
    padding: 39px 80px 53px;
    display: none;
}

.tab-content-item.active {
    background-color: #fff;
    display: block;
    border-radius: 0 0 10px 10px;
}

#wrap-search .tab-content-item .title-form {
    width: 110px;
    font-size: 20px;
    font-weight: 600;
}

#wrap-search .tab-content-item .form-phone input {
    width: 250px;
}

#wrap-search .tab-content-item .form-otp input {
    width: 135px;
}

#wrap-search .tab-content-item .form-birth .group-birth {
    display: flex;
    gap: 5px;
}

#wrap-search .tab-content-item .form-phone .group-phone {
    display: flex;
    gap: 5px;
}

#wrap-search .tab-content-item .form-phone input {
    width: 250px;
}

#wrap-search .tab-content-item .form-phone .group-phone input {
    font-size: 15px;
    color: #999;
}

#wrap-search .tab-content-item .form-phone .group-phone button {
    width: 145px;
    border-radius: 3px;
    border: 1px solid #999;
    background-color: #f5f5f5;
    font-size: 19px;
    font-weight: 600;
    white-space: nowrap;
    padding: 0 15px;
}

#wrap-search .tab-content-item .form-phone .note-form-phone {
    color: #0068b7;
    margin-left: 16px;
    font-weight: 300;
}

#wrap-search .tab-content-item .form-otp .time-remaining-otp,
#wrap-search .tab-content-item .form-otp .time-remaining-otp .time-count {
    font-size: 19px;
    color: #e60012;
    margin-left: 13px;
    font-weight: 300;
}

#wrap-search .tab-content-item .form-otp .time-remaining-otp .time-count {
    margin-left: 0;
}

/* Responsive */
@media screen and (width <=1320px) {
    #content {
        padding: 30px 0 50px;
    }

    #wrap-search .tab-content-item .form-radio .title-value-radio {
        word-break: keep-all;
    }

    #wrap-search .group-notifi {
        padding: 30px;
    }

    #wrap-search .title-notifi-child {
        font-size: 16px;
    }

    #wrap-search .tab-content-item {
        padding: 20px 20px;
    }

    #wrap-search .tab-content-item .form-row {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    #wrap-search .tab-content-item .title-form {
        margin-bottom: 8px;
    }

    #wrap-search .tab-content-item .form-id input,
    #wrap-search .tab-content-item .form-phone input,
    #wrap-search .tab-content-item .form-otp input,
    #wrap-search .tab-content-item .form-name input {
        width: 100%;
    }

    #wrap-search .tab-content-item .form-phone .note-form-phone,
    #wrap-search .tab-content-item .form-otp .time-remaining-otp,
    #wrap-search .tab-content-item .form-otp .time-remaining-otp .time-count {
        margin: 10px 0;
        font-size: 16px;
    }

    #wrap-search .tab-content-item.active::before {
        width: calc(50% + 1px);
    }

    #wrap-search .tab-content-item-1.active::before {
        transform: translateX(0%);
    }

    #wrap-search .tab-content-item-2.active::before {
        transform: translateX(-100%);
    }
}

#wrap-search .form-select-container {
    width: 130px;
}

#wrap-search .form-select-container>.form-select-cus {
    border-radius: 3px;
    border-color: #ddd;
}

.form-select-container>.form-select-cus>.form-option-wrapper {
    border-radius: 3px;
}

.form-select-container>.form-select-cus>.form-option-wrapper>.form-option-container>.form-option,
.form-select-container>.form-select-cus>.form-option-wrapper>.form-option-placeholder-container>.form-option-placeholder,
.form-select-container>.form-select-cus>.form-option-placeholder {
    padding: 0 19px;
}

.form-select-container>.form-select-cus>.form-option-wrapper>.form-option-placeholder-container>.form-option-placeholder:hover {
    border-radius: 3px 3px 0 0;
}

.form-select-container>.form-select-cus>.form-option-wrapper>.form-option-container>.form-option:last-child:hover {
    border-radius: 0 0 3px 3px;
}

.form-select-container>.form-select-cus>.form-option-wrapper>.form-option-container>.form-option,
.form-select-container>.form-select-cus>.form-option-wrapper>.form-option-placeholder-container>.form-option-placeholder,
.form-select-container>.form-select-cus>.form-option-placeholder {
    border-radius: 0 0 3px 3px;
    font-size: 19px;
    font-weight: 300;
}

.form-select-container>.form-select-cus>.form-option-placeholder::after {
    right: 23px;
}