#auth {
    width: 100%;
    background-color: #f3f7f8;
    height: 100vh;
}

#auth .container {
    max-width: 1130px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    height: max-content;
    right: 0;
}

#auth img {
    width: auto;
}

#auth .logo {
    margin-bottom: 40px;
    text-align: center;
}

#back-to-home {
    text-align: right;
    margin-bottom: 20px;
}

#back-to-home a {
    color: #666;
    font-size: 19px;
    font-weight: 300;
}

.wrap-auth {
    background-color: #fff;
    border-radius: 15px;
    padding: 75px 120px;
}

.wrap-auth .wrap-content {
    display: flex;
}

.wrap-auth .wrap-content .wrap-auth-left {
    width: 50%;
    padding-right: 40px;
    border-right: 1px solid #ddd;
}

.wrap-auth .wrap-content .wrap-auth-right {
    width: 50%;
    padding-left: 40px;
    margin-bottom: -50px;
}

/* .wrap-auth .wrap-content .wrap-auth-right img {
    width: 100%;
} */

/* Tab Form */
#auth .wrap-tab {
    margin-bottom: 20px;
    border-color: transparent;
}

#auth .wrap-tab li a {
    border-bottom: 1px solid #000;
}

#auth .wrap-tab li.active a {
    border-bottom: 1px solid transparent;
}

.hide {
    display: none;
}

/* Form Login */
.form-login form {
    width: 100%;

}

.wrap-form-container {
    display: flex;
    gap: 10px;
}


.form-login form .wrap-input {
    width: 100%;
}

.form-login form .form-group {
    position: relative;
}

.form-login form .form-group img.icon-input {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

}

.form-login form .form-group input:not(input[type="checkbox"]) {
    line-height: 48px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
    padding: 0 15px 0 40px;
    font-size: 17px;
    color: #333;
}

.form-login form .form-group button {
    width: 125px;
    border: none;
    outline: none;
    background-color: #0068b7;
    border-radius: 10px;
    height: 100%;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.wrap-input {
    width: 66.66%;
    display: grid;
    gap: 10px;
}

.wrap-input+.form-group {
    width: 33.33%;
}

.wrap-bottom-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 19px;
    padding-bottom: 17px;
    border-bottom: 1px solid #ddd;
}

.wrap-bottom-form .form-group {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 700;
    font-size: 14px;
}

.wrap-bottom-form .remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.wrap-bottom-form .remember input {
    width: 16px;
    height: 16px;
    border-radius: 2px;
}

.wrap-bottom-form .remember label {
    font-size: 14px;
    font-weight: 700;
    color: #666;
}

.wrap-forward a {
    font-size: 18px;
    color: #666;
}

.wrap-forward a+a {
    font-size: 18px;
    font-weight: 400;
    color: #666;
    margin-left: 15px;
    padding-left: 15px;
    position: relative;
    line-height: 1;
}

.wrap-forward a+a:before {
    content: "";
    height: 15px;
    width: 1px;
    background-color: #666;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* Question */
.wrap-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.wrap-question p {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #666;
}

.wrap-question a.btn {
    padding: 0 15px;
    border-radius: 35px;
    background-color: #80b156;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    height: 35px;
    display: flex;
    align-items: center;
}


/* Copyright */
.after-form p {
    text-align: center;
    font-size: 19px;
    color: #666;
    margin-top: 37px;
    font-weight: 300;
}


/* Responsive */

@media screen and (max-width: 1200px) {
    .wrap-auth {
        padding: 60px 80px;
    }
}

@media screen and (max-width: 991px) {
    .wrap-auth .wrap-content {
        flex-direction: column;
    }

    .wrap-auth .wrap-content .wrap-auth-left {
        width: 100%;
        padding-right: 0;
        border-right: none;
    }

    .wrap-auth .wrap-content .wrap-auth-right {
        width: 100%;
        padding-left: 0;
        text-align: center;
        max-width: 500px;
        margin: 50px auto 0;
    }

    .wrap-auth .wrap-content .wrap-auth-right img {
        width: 100%;
    }

    .form-login form .form-group button {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .wrap-auth {
        padding: 30px;
    }
}

@media screen and (max-width: 480px) {
    .wrap-form-container {
        flex-direction: column;
    }

    .wrap-input+.form-group {
        width: 50%;
    }

    .wrap-bottom-form {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .wrap-question {
        flex-direction: column;
        margin-top: 30px;
        gap: 10px;
        align-items: flex-start;
    }
}