#search-infor {
    margin-bottom: 74px;
}

#search-infor .titleText {
    font-size: 40px;
    margin-bottom: 17px;
    font-weight: 500;
}

#search-infor .border-bottom-blue {
    border: 1px solid #00467b;
}

#search-infor .notification {
    width: 100%;
    max-width: 1100px;
    min-height: 250px;
    max-width: 1100px;
    height: 250px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 39px auto 11px auto;
}

#search-infor .group-notifi {
    padding: 0 100px 0 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#search-infor .title-notifi {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 19px;
}

#search-infor .title-notifi-child li {
    position: relative;
    padding-left: 15px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
}

#search-infor .title-notifi-child li::before {
    content: "";
    background-color: #8898a4;
    width: 5px;
    height: 5px;
    position: absolute;
    left: 0;
    top: 11px;
    border-radius: 50px;
}

#search-infor .wrap-infor {
    border-radius: 10px 10px 0 0;
    width: 1100px;
    margin: 0 auto;
}

#search-infor .wrap-tab {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    border-bottom: transparent;
    height: 49px;
}

#search-infor .wrap-tab li {
    cursor: pointer;
    height: 100%;
}

#search-infor .wrap-tab li a {
    border-color: transparent;
    border-bottom: 1px solid #333;
    background-color: #f9f9f9;
    height: 100%;
}

#search-infor .wrap-tab li.active a {
    background-color: #fff;
    border-color: #030303;
    border-bottom: 1px solid transparent;
}

.icon-magnifying-glass {
    width: 25px;
    height: 25px;
}

#search-infor .wrap-tab li a span {
    position: relative;
}

#search-infor .wrap-tab li a i {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30px;
    margin: auto;
    display: none;
}

#search-infor .wrap-tab li.active i {
    display: flex;
}

#search-infor .wrap-tab-child {
    display: none;
}

#search-infor .wrap-tab-child.active {
    background-color: #fff;
    border: 1px solid #000000;
    border-top: unset;
    display: block;
}

#search-infor .wrap-tab-child {
    position: relative;
}

#search-infor .wrap-tab-child-2.active::before {
    transform: translateX(calc(-100%));
}

#search-infor .content-tab {
    padding: 39px 80px 0px;
}

#search-infor .content-tab .form-radio {
    margin-bottom: 30px;
}

#search-infor .content-tab .title-form {
    width: 110px;
    font-size: 20px;
    font-weight: 600;
}

#search-infor .content-tab .form-phone input {
    width: 250px;
}

#search-infor .content-tab .form-otp input {
    width: 135px;
}

#search-infor .content-tab .form-birth .group-birth {
    display: flex;
    gap: 5px;
}

#search-infor .content-tab .form-phone .group-phone {
    display: flex;
    gap: 5px;
}

#search-infor .content-tab .form-phone .group-phone input {
    font-size: 15px;
    color: #999;
}

#search-infor .content-tab .form-phone .group-phone button {
    width: 145px;
    border-radius: 3px;
    border: 1px solid #999;
    background-color: #f5f5f5;
    font-size: 19px;
    font-weight: 600;
    white-space: nowrap;
    padding: 0 15px;
}

#search-infor .content-tab .form-phone .note-form-phone {
    color: #0068b7;
    margin-left: 16px;
    font-weight: 300;
}

#search-infor .content-tab .form-otp .time-remaining-otp,
#search-infor .content-tab .form-otp .time-remaining-otp .time-count {
    font-size: 19px;
    color: #e60012;
    margin-left: 13px;
    font-weight: 300;
}

#search-infor .content-tab .form-otp .time-remaining-otp .time-count {
    margin-left: 0;
}

#search-infor .content-tab .submit-form {
    margin-bottom: -75px;
    margin-top: 30px;
}

.form.form-otp {
    margin-bottom: 70px;
}

.wrap-tab-child.wrap-tab-child-2 .form.form-otp {
    margin-bottom: 84px;
}

.form-id,
.form-name,
.form-phone,
.form-birth {
    margin-bottom: 20px;
}

/* Responsive */
@media screen and (width <=1320px) {
    #content {
        padding: 30px 0 50px;
    }

    #search-infor .content-tab .form-radio .title-value-radio {
        word-break: keep-all;
    }

    #search-infor .group-notifi {
        padding: 30px;
    }

    #search-infor .title-notifi-child {
        font-size: 16px;
    }

    #search-infor .content-tab {
        padding: 20px 20px;
    }

    #search-infor .content-tab .form-row {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    #search-infor .content-tab .title-form {
        margin-bottom: 8px;
    }

    #search-infor .content-tab .form-id input,
    #search-infor .content-tab .form-phone input,
    #search-infor .content-tab .form-otp input,
    #search-infor .content-tab .form-name input {
        width: 100%;
    }

    #search-infor .content-tab .form-phone .note-form-phone,
    #search-infor .content-tab .form-otp .time-remaining-otp,
    #search-infor .content-tab .form-otp .time-remaining-otp .time-count {
        margin: 10px 0;
        font-size: 16px;
    }

    #search-infor .content-tab .submit-form {
        top: 95px;
    }

    #search-infor .wrap-tab-child.active::before {
        width: calc(50% + 1px);
    }

    #search-infor .wrap-tab-child-1.active::before {
        transform: translateX(0%);
    }

    #search-infor .wrap-tab-child-2.active::before {
        transform: translateX(-100%);
    }
}

#search-infor .form-select-container {
    width: 130px;
}

#search-infor .form-select-container>.form-select-cus {
    border-radius: 3px;
    border-color: #ddd;
}

.form-select-container>.form-select-cus>.form-option-wrapper {
    border-radius: 3px;
}

.form-select-container>.form-select-cus>.form-option-wrapper>.form-option-container>.form-option,
.form-select-container>.form-select-cus>.form-option-wrapper>.form-option-placeholder-container>.form-option-placeholder,
.form-select-container>.form-select-cus>.form-option-placeholder {
    padding: 0 19px;
}

.form-select-container>.form-select-cus>.form-option-wrapper>.form-option-placeholder-container>.form-option-placeholder:hover {
    border-radius: 3px 3px 0 0;
}

.form-select-container>.form-select-cus>.form-option-wrapper>.form-option-container>.form-option:last-child:hover {
    border-radius: 0 0 3px 3px;
}

.form-select-container>.form-select-cus>.form-option-wrapper>.form-option-container>.form-option,
.form-select-container>.form-select-cus>.form-option-wrapper>.form-option-placeholder-container>.form-option-placeholder,
.form-select-container>.form-select-cus>.form-option-placeholder {
    border-radius: 0 0 3px 3px;
    font-size: 19px;
    font-weight: 300;
}

.form-select-container>.form-select-cus>.form-option-placeholder::after {
    right: 23px;
}