/* Top Table */
#content-table .top-table {
    align-items: center;
}

#content-table .count-results {
    color: #0068b7;
    font-weight: 500;
}

/* Content Table */
#support-now .wrap-table>li {
    padding-bottom: 34px;
}

#support-now .wrap-table>li>div {
    display: grid;
    /* grid-template-columns: 21% calc(100% - 21% - 13% - 13%) 13% 13%; */
    grid-template-columns: 21% calc(100% - 21% - 15% - 13%) 15% 13%;
    padding: 25px 0 0;
}

#support-now .wrap-table .clinic-name {
    font-weight: 600;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5px 0;
}

#support-now .wrap-table .item.yellow .wrap-title,
#support-now .wrap-table .item.yellow .clinic-name {
    background-color: #fbffaa;
}

#support-now .wrap-table .item.blue .wrap-title h4,
#support-now .wrap-table .item.blue .clinic-name {
    color: #0055cc;
}

#support-now .wrap-table .wrap-meta {
    margin-top: 8px;
}

/* Column 1 */
.column-1 {
    justify-content: start;
}

/* Column 2*/
#support-now .wrap-table .column-2 {
    padding-left: 0;
}

#support-now .wrap-table .column-2 .wrap-title {
    justify-content: start;
    width: 95%;
    padding: 4px 0;
}

#support-now .wrap-table .column-2 .wrap-title+.wrap-link {
    margin-top: 0px;
}

#support-now .wrap-table .table .wrap-link {
    margin-top: 8px;
}

#support-now .wrap-table .column-2 .wrap-title .item-title {
    margin-bottom: 0;
    font-size: 19px;
    font-weight: 700;
    color: #333;
    width: 100%;
    max-width: max-content;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#support-now .wrap-table .column-2 .wrap-title .wrap-meta {
    display: inline-flex;
    gap: 8px;
    margin-top: 0;
}

#support-now .wrap-table .wrap-link+.wrap-position {
    margin-top: 8px;
}

/* Column 3 */
#support-now .wrap-table .column-3 {
    padding-left: 0;
    align-items: start;
}

/* Column 4 */
.column-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column-4 .support {
    font-size: 17px;
    color: #fff;
    background-color: #0068b7;
    border-radius: 30px;
    padding: 0 11px;
    line-height: 30px;
}

.column-4 .room-name {
    margin-top: 6px;
}

.column-4 .time {
    color: #999;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (width <=1320px) {
    #support-now .wrap-table>li>div {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    #support-now .top-table {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

    }

    .column-1 .clinic-name {
        text-align: left;
    }

    #support-now .wrap-table .column-2 {
        padding-left: 0;
    }

    #support-now .wrap-table .column-3 {
        padding: 0;
    }

    .column-4 {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
    }

    .column-4 .support+.room {
        margin-top: 0;
    }
}