#user-guide {
    padding: 30px 0 15px 0;
}

#user-guide .titleText {
    font-size: 40px;
    font-weight: 500;
    border-bottom: 1px solid #00467b;
    padding-bottom: 17px;
}

#user-guide .border-bottom-blue {
    border: 1px solid #00467b;
}

#user-guide .content-title {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

#user-guide .user-guide-content-child-2 .content-title {
    margin-top: 80px;
}

#user-guide .outer-circle {
    width: 23px;
    height: 23px;
    background-color: #48b805;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-guide .user-guide-content-child-2 .outer-circle {
    background-color: #eb9b00;
}

#user-guide .outer-circle::after {
    content: "";
    width: 7px;
    height: 7px;
    background-color: #ffffff;
    border-radius: 50%;
}

#user-guide .text-content-title {
    font-size: 33px;
    color: #48b805;
    font-weight: 500;
}

#user-guide .user-guide-content-child-2 .text-content-title {
    color: #eb9b00;
}

#user-guide .text-content-title-child {
    font-size: 22px;
    text-align: center;
    margin-top: 13px;
    color: #666666;
    font-weight: 300;
    word-break: keep-all;
}

#user-guide .vertical-line {
    margin: 25px auto;
    width: 1px;
    height: 24px;
    background-color: #666666;
}

#user-guide .title-content-child {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 44px;
}



.line-item {
    grid-column: span 1;
}


#user-guide .item-text-arrow {
    margin-bottom: 67px;

}

#user-guide .item-content .item-text-arrow .line-item {
    width: 100%;
    padding: 0 50px;
    display: flex;
    gap: 32px;
}

#user-guide .user-guide-content-child-2 .item-text-arrow .line-item {
    justify-content: center;
}

#user-guide .line-1 {
    margin-bottom: 32px;
}

#user-guide .line-2 {
    justify-content: flex-end;
}

#user-guide .user-guide-content-child-2 .line-1,
#user-guide .user-guide-content-child-2 .line-2 {
    justify-content: center;
}

#user-guide .item-content .item-arrow {
    line-height: 25px;
    position: relative;
    width: 260px;
    height: 85px;
    border-radius: 43px;
    background-color: #f4fbf1;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    margin-right: 21px;
}

#user-guide .user-guide-content-child-2 .item-content .item-arrow {
    background-color: #fef8e5;
}

#user-guide .item-content .item-arrow::after {
    content: '';
    background-image: url('../images/icons/icon-arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: -37px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 20px;
}

#user-guide .user-guide-content-child-2 .line-2 .item:last-child .item-arrow::after {
    background-image: none;
}

#user-guide #group-recommend {
    width: 100%;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 10px;
}

#user-guide .btn-recommend-use {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 30px;
    width: 230px;
    height: 60px;
    background-color: #0068b7;
}

#user-guide .btn-recommend-use .text-rcm-use {
    color: #ffffff;
    font-size: 21px;
    font-weight: 500;
    line-height: 28px;
}

#user-guide .btn-recommend-use .icon-right {
    background-image: url('../images/PAFAA040/icon-right-white.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 8px;
    height: 12px;
}

#user-guide .title-item {
    text-align: center;
    font-size: 20px;
    margin-top: 11px;
    color: #666666;
    padding: 0 15px;
    word-break: keep-all;
}

#user-guide #company-introduction {
    margin-top: 67px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 57px 14px;
}

#user-guide .user-guide-content-child-1 .content-child #company-introduction {
    margin-top: 10px;

}

#user-guide .join-membership {
    height: 123px;
    border-right: 1px dashed #b5b5b5;
}

#user-guide .col:last-child .join-membership {
    border-right: unset;
}

#user-guide #company-introduction .icon {
    background-size: contain;
    background-repeat: no-repeat;
    height: 32px;
}

#user-guide #company-introduction .icon.icon-people {
    background-image: url('../images/PAFAA040/icon-people.png');
    width: 24px;
}

#user-guide #company-introduction .icon.icon-mouse {
    background-image: url('../images/PAFAA040/icon-mouse.png');
    width: 22px;
}

#user-guide #company-introduction .icon.icon-up {
    background-image: url('../images/PAFAA040/icon-up.png');
    width: 32px;
}

#user-guide #company-introduction .icon.icon-image {
    background-image: url('../images/PAFAA040/icon-image.png');
    width: 32px;
}

#user-guide #company-introduction .icon.icon-very-people {
    background-image: url('../images/PAFAA040/icon-very-people.png');
    width: 32px;
}

#user-guide #company-introduction .icon.icon-referral-card {
    background-image: url('../images/PAFAA040/icon-referral-card.png');
    width: 32px;
}

#user-guide #company-introduction .icon.icon-file {
    background-image: url('../images/PAFAA040/icon-file.png');
    width: 28px;
}

#user-guide #company-introduction .icon.icon-computer {
    background-image: url('../images/PAFAA040/icon-compter.png');
    width: 32px;
    height: 30px;
}

#user-guide #company-introduction .icon.icon-find-people {
    background-image: url('../images/PAFAA040/icon-find-people.png');
    width: 32px;
}

#user-guide #company-introduction .icon.icon-star {
    background-image: url('../images/PAFAA040/icon-star.png');
    width: 32px;
}

#user-guide .join-membership li:first-child {
    height: 32px;
    display: flex;
    justify-content: center;
}


#user-guide #company-introduction .title {
    text-align: center;
    font-size: 20px;
    margin-top: 11px;
    font-weight: 700;
}

#user-guide #company-introduction .content {
    font-size: 16px;
    margin-top: 11px;
    color: #666666;
    text-align: center;
    font-weight: 300;
    padding: 0 10px;
    word-break: keep-all;
    line-height: 18px;
}

#user-guide #company-introduction .col {
    padding: 0;
}


#user-guide .bottom-note .title-bottom-note {
    font-size: 37px;
    color: #0068b7;
    text-align: center;
    font-weight: 500;
    margin-top: 14px;
    margin-bottom: 22px;
    word-break: keep-all;
}

#user-guide .bottom-note .content-bottom-note {
    font-size: 18px;
    color: #666666;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
    word-break: keep-all;
}

#user-guide .bottom-note .img-text-bottom {
    background-image: url('../images/PAFAA040/img-text-bottom.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 282px;
    height: 27px;
    margin: 80px auto 0 auto;
    position: relative;
}

#user-guide .bottom-note .img-text-bottom::before {
    content: '';
    background-image: url('../images/PAFAA040/img-heart-child-bottom.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 85px;
    height: 87px;
    position: absolute;
    left: -269px;
}

#user-guide .bottom-note .img-text-bottom::after {
    content: '';
    background-image: url('../images/PAFAA040/img-heart-bottom.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 135px;
    height: 150px;
    position: absolute;
    left: 459px;
    top: 23px;
}

@media screen and (width <=1320px) {
    #user-guide .item-content .item-text-arrow .line-item {
        justify-content: center;
        flex-wrap: wrap;
    }

    #user-guide .item-content .item {
        flex: 1 1 calc(50% - 64px);
        display: flex;
        justify-content: center;
    }

    #user-guide #company-introduction .content {
        padding: 0 10px;
    }

}

@media screen and (width <=991px) {

    #user-guide .bottom-note .img-text-bottom::after,
    #user-guide .bottom-note .img-text-bottom::before {
        display: none;
    }

    #user-guide #company-introduction .content {
        padding: 0 5px;
    }

    #company-introduction .col {
        flex: 1 1 calc(33%);
        box-sizing: border-box;
    }

    #company-introduction .col:nth-child(3) .join-membership {
        border-right: unset;
    }

    #company-introduction .col:nth-child(1),
    #company-introduction .col:nth-child(2),
    #company-introduction .col:nth-child(3) {
        margin-bottom: 20px;
    }
}

@media screen and (width <=767px) {
    #user-guide .item-content .item-arrow::after {
        top: unset;
        right: unset;
        bottom: -37px;
        transform: rotate(90deg);
    }

    #user-guide .item-content .item-text-arrow .line-item {
        gap: 53px;
        margin-bottom: 53px;
    }

    #user-guide .item-content .item-arrow {
        margin-right: 0;
    }

    #user-guide #company-introduction .content {
        padding: 0 5px;
    }

    #company-introduction .col {
        flex: 1 1 calc(50% - 20px);
    }

    #company-introduction .col:nth-child(3) .join-membership {
        border-right: 1px dashed #b5b5b5;
    }

    #company-introduction .col:nth-child(2) .join-membership,
    #company-introduction .col:nth-child(4) .join-membership {
        border-right: unset;
    }

    #company-introduction .col:nth-child(1),
    #company-introduction .col:nth-child(2),
    #company-introduction .col:nth-child(3) {
        margin-bottom: 20px;
    }
}