#content-table {
    padding: 30px 0 100px;
}

/* Wrap Tab Form */

/* #wrap-tab-form{} */

.top-form {
    display: flex;
    margin-bottom: 29px;
    justify-content: space-between;
    align-items: center;
}

#wrap-tab-form h2 {
    font-size: 34px;
    font-weight: 400;
}

#wrap-tab-form .wrap-tab li:last-child {
    max-width: 203px;
}

#wrap-tab-form .wrap-tab li a {
    text-align: left;
    padding-left: 46px;
    position: relative;
    font-weight: 600;
    color: #999;
    line-height: 49px;
}

#wrap-tab-form .wrap-tab li.active a {
    font-weight: 400;
    color: #333;
}

#wrap-tab-form .wrap-tab li a.icon-plus {
    text-align: left;
    padding-left: 38px;
    position: relative;
}

#wrap-tab-form .wrap-tab li a::after {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
}

#wrap-tab-form .wrap-tab li a.icon-plus::after {
    display: block;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#wrap-tab-form .wrap-tab-select {
    display: flex;
    border: 1px solid #333;
    border-top: transparent;
}

/* Start wrap-tab-select-bag */
#wrap-tab-form .wrap-tab-select-bag {
    padding: 24px;
}

#wrap-tab-form .wrap-tab-select-bag ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#wrap-tab-form .wrap-tab-select-bag ul li {
    border: 1px solid #dddddd;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 17px 0;
}

#wrap-tab-form .wrap-tab-select-bag ul li:nth-child(-n+4) {
    border-right: unset;
    border-bottom: unset;
}

#wrap-tab-form .wrap-tab-select-bag ul li:nth-child(5) {
    border-bottom: unset;
}

#wrap-tab-form .wrap-tab-select-bag ul li:nth-child(-n+4) {
    border-right: unset;
    border-bottom: unset;
}

#wrap-tab-form .wrap-tab-select-bag ul li:nth-child(n + 6) {
    border-right: unset;
}

#wrap-tab-form .wrap-tab-select-bag ul li:nth-child(10) {
    border-right: 1px solid #dddddd;
}

#wrap-tab-form .wrap-tab-select-bag ul li.active {
    background-color: #eef7fd;
    color: #0068b7;
    font-weight: 600;
}

/* End wrap-tab-select-bag */
/* Select result */
#wrap-tab-form .tab-select-results {
    min-height: 118px;
    padding: 19px 420px 19px 29px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 10px 10px;
    position: relative;
}

.results-area {
    display: flex;
    flex-wrap: wrap;
}

.results-area li {
    display: flex;
    margin-right: 27px;
    align-items: center;
    cursor: pointer;
}

.results-area li:last-child {
    display: flex;
    margin-right: 0;
    align-items: center;
}

.results-area li>div {
    font-size: 16px;
}

.results-area li>.item-city-name+.item-dictrict-name::before {
    content: '>';
}

.results-area li>span.icon-x {
    width: 11px;
    height: 11px;
    margin-left: 4px;
}

.results-area li {
    display: flex;
}

.tab-select-results button {
    position: absolute;
    height: 80px;
    padding: 0 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 50%;
    right: 29px;
    transform: translateY(-50%);
    gap: 1px;
}

.tab-select-results button {
    position: absolute;
    height: 80px;
    padding: 0 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    font-size: 18px;
}

.tab-select-results span {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

.wrap-option-search {
    display: flex;
    gap: 23px;
    position: absolute;
    bottom: 20px;
    right: 235px;
}

.wrap-option-search .icon {
    align-items: flex-center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    color: #333;
}

.wrap-option-search .icon-reset:after {
    width: 12px;
    height: 12px;
    margin-left: 5px;
}

.wrap-option-search .icon-ghim:after {
    width: 14px;
    height: 14px;
    margin-left: 5px;
}

.line-after-tab {
    height: 120px;
    width: 100%;
    border-radius: 10px;
    background-color: #88abda;
    margin-top: 20px;
}

/* end tab-select-results*/
/* Top Table */
#content-table .top-table {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
    align-items: center;
}

#content-table .count-results {
    font-size: 18px;
    font-weight: 500;
    color: #666;
}

#content-table .count-results>span {
    font-size: 18px;
    color: #666;
}

#content-table .count-results .high-light {
    font-size: 18px;
    color: #0068b7;
}

#content-table .more-results {
    font-size: 18px;
}

.wrap-dropDown {
    display: flex;
    gap: 3px;
}

.form-select-container {
    height: 35px;
}

.form-select-container>.form-select-cus {
    border-radius: 3px;
}

.form-select-container>.form-select-cus>.form-option-placeholder {
    color: #666;
}

/* Content Table */
#content-table .wrap-table.table>li+li {
    margin-top: 10px;
    border-top: 1px solid #333;
}

#content-table .wrap-table.table>li>div {
    display: grid;
    grid-template-columns: calc(100% - 27.15% - 13.88%) 27.15% 13.88%;
    padding: 28px 0 0;
}

/* Column left */
#content-table .wrap-table .column-left {
    padding-left: 31px;
}

#content-table .wrap-table .column-left .wrap-title {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#content-table .wrap-table .column-left .wrap-title+.wrap-link {
    margin-top: 10px;
}

#content-table .wrap-table .column-left .wrap-title .item-title {
    margin-bottom: 0;
    font-size: 21px;
    font-weight: 700;
    color: #333;
}

#content-table .wrap-table .column-left .wrap-title .item-title:hover {
    color: #0068b7;
}

#content-table .wrap-table .column-left .wrap-title .wrap-meta {
    display: inline-flex;
    gap: 8px;
}

#content-table .wrap-table .wrap-link {
    display: flex;
    position: relative;
}

#content-table .wrap-table .wrap-link li a {
    font-size: 15px;
    color: #666;
    white-space: nowrap;
}

#content-table .wrap-table .wrap-link li a:hover {
    font-size: 15px;
    color: #333;
}

#content-table .wrap-table .wrap-link li+li {
    margin-left: 9px;
    padding-left: 9px;
    position: relative;
}

#content-table .wrap-table .wrap-link li+li:before {
    content: "";
    width: 1px;
    height: 10px;
    background-color: #999;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

/* Column center */
#content-table .wrap-table .column-center {
    padding-left: 35px;
}

#content-table .wrap-table .column-center .wrap-position li {
    font-size: 15px;
    color: #666;
}

#content-table .wrap-table .wrap-link+.wrap-position {
    margin-top: 10px;
}

/* Column right */
.column-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column-right .date {
    font-size: 13px;
    color: #999;
}

.column-right .date.update {
    font-size: 16px;
    color: #80b156;
    line-height: 18px;
    padding: 0 7px;
    border: 1px solid #80b156;
    border-radius: 15px;


}

.column-right .price {
    font-size: 18px;
    color: #333;
    font-weight: 600;
    margin-top: 8px;
}

/* More Information */
.more-infomation {
    display: flex;
    padding: 16px 0 19px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
    margin-top: 30px;
    padding-left: 25px;
}

.more-infomation li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

.more-infomation li+li {
    margin-left: 28px;
}

.more-infomation li .title-info {
    margin-bottom: 0;
    font-weight: 600;
    white-space: nowrap;
}

.more-infomation li .title-info:after {
    content: ":";
    margin: 0 3px;
}

.more-infomation li .desc-info {
    font-weight: 300;
}

/* Pagination */
.wrap-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 30px;
}

.pagination-number {
    display: flex;
    gap: 8px;
}

.pagination-number li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 300;
}

.pagination-number li.active a,
.pagination-number li:hover a {
    background-color: #eeeeee;
    font-weight: 700;
}

@media screen and (width <=1320px) {
    #content-table .wrap-table.table>li>div {
        display: grid;
        grid-template-columns: auto auto;
        padding: 15px 0 0;
    }

    #content-table .wrap-table.table>li>div.column-left {
        grid-template-columns: 100%;
        padding-right: 15px;
    }

    #content-table .wrap-table.table>li>div.column-center {
        grid-template-columns: 100%;
    }

    .column-right {
        grid-template-columns: 100%;
        align-items: end;
        padding-right: 15px;
    }

    #content-table .wrap-table .column-left {
        grid-column: 1 / -1;
        padding: 0 15px;
    }

    #content-table .wrap-table .column-center {
        padding-left: 15px;
        margin-top: 20px;
    }

    .more-infomation {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .more-infomation li+li {
        margin-left: 0;
    }

    .pagination-number li a {
        width: 25px;
        height: 25px;
    }

    #content-table .top-table {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}