* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Pretendard";
  font-size: 100%;
  vertical-align: baseline;
  color: #333;
  box-sizing: border-box;
  -webkit-user-drag: none;
}

.resume-export-root.ResumeNew * {
  font-family: initial;
  font-size: 11px;
  color: initial;
  box-sizing: initial;
  margin: initial;
  padding: initial;
  border: initial;
  vertical-align: middle;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a,
a:hover,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
  outline: none;
}

img {
  width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea:focus-visible,
input:focus-visible {
  outline: none;
}

p {
  margin-bottom: 0;
}

button {
  background-color: transparent;
}

@media (min-width: 1400px) {

  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    width: 100%;
    max-width: 1152px;
    padding: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  line-height: 1;
  font-weight: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

strong {
  font-weight: inherit;
}

.ql-editor strong {
  font-weight: 600;
}

.table> :not(caption)>*>* {
  color: inherit;
}

.fade:not(.show) {
  opacity: 1;
}

textarea {
  line-height: 1.3;
}

input:focus,
textarea:focus {
  border: 1px solid #076ecc !important;
}

.focus-none:focus {
  border: none !important;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

input[type="checkbox"]:checked {
  accent-color: #076ecc;
}