/* sub page */
#content.sub-page {
    background: #f4f6f8;
    padding-top: 0;
}

#content.sub-page .container {
    max-width: 1260px;
}

#top-sub-page {
    display: flex;
    gap: 30px;
}

.frame-section {
    background: #fff;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    width: 100%;
    border-radius: 10px;
    padding: 30px 40px;
    position: relative;
    margin-top: 20px;
}

.frame-section.frame-gray-header {
    margin-top: 48px;
    background: transparent;
    box-shadow: none;
    padding: 0;
}

.frame-section.frame-gray-header .header-frame {
    border-color: #ddd;
}

.frame-section.frame-gray-header .header-frame h1 {
    font-weight: 400;
    font-size: 26px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.frame-section.frame-gray-header .content-frame {
    background: #fff;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    padding: 30px 40px;
    margin-top: 15px;
    border-radius: 10px;
}

.frame-section.frame-table-horizontal .content-frame {
    border-radius: 0;
    box-shadow: none;
    margin-top: 0;
    padding: 20px;
}

.frame-section.frame-table-horizontal.blue-line {
    border-top: 1px solid #076ecc;
    border-bottom: 1px solid #076ecc;
    border-radius: 0;
}

#top-sub-page #side-nav {
    width: 270px;
    height: 100%;
}

#top-sub-page #side-nav .side-banner img {
    margin-top: 20px;
}

#top-sub-page #side-nav .frame-section {
    padding: 20px 25px;
    width: 270px;
}

#top-sub-page #side-nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#top-sub-page #side-nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ddd;
    min-height: 60px;
    font-size: 18px;
    position: relative;
    padding: 0 15px;
    cursor: pointer;
}

#top-sub-page #side-nav>ul>li:last-child {
    border-bottom-color: transparent;
}

#top-sub-page #side-nav>ul>li.item-has-child.active::after {
    content: "";
    background-color: #eef7fd;
}

#top-sub-page #side-nav>ul>li.item-has-child::before {
    content: "";
    background-color: #eef7fd;
    width: 12px;
    height: 10px;
    background: url('../images/icons/icon-drop-down.png') no-repeat center / 100%;
    position: absolute;
    top: 30px;
    transform: translateY(-50%);
    right: 0px;
    z-index: 1;
    transform: rotate(-90deg) translateX(50%);
}

#top-sub-page #side-nav>ul>li.item-has-child.active::before {
    transform: translateY(-50%);
}

#top-sub-page #side-nav>ul>li:not(.item-has-child).active,
#top-sub-page #side-nav>ul>li:not(.item-has-child):hover {
    border-bottom-color: transparent;
    color: #0068b7;
}



#top-sub-page #side-nav ul li::after {
    content: '';
    width: 270px;
    height: 61px;
    position: absolute;
    top: -1px;
    left: -25px;
}

#top-sub-page #side-nav ul li .sub-menu {
    display: none;
}

#top-sub-page #side-nav ul li .sub-menu::before {
    content: "";
    border-bottom: 1px solid #ddd;
    width: 205px;
}

#top-sub-page #side-nav ul li .sub-menu li::after {
    content: '';
    width: 247px;
    height: 61px;
    position: absolute;
    top: -1px;
    left: -17px;

}

#top-sub-page #side-nav ul li .sub-menu li:last-child {
    border: none;
}

#top-sub-page #side-nav ul li .sub-menu li:hover {
    border-color: transparent;

}

#top-sub-page #side-nav ul li.active::after,
#top-sub-page #side-nav ul li:hover::after {
    background-color: #eef7fd;
}

#top-sub-page #side-nav ul li a {
    display: flex;
    align-items: center;
    gap: 13px;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 21px 0;
}

#top-sub-page #side-nav ul li .icon {
    width: 18px;
    height: 18px;
}

.frame-section .top-link {
    position: absolute;
    font-weight: 300;
    padding-right: 15px;
    right: 40px;
    top: 30px;
}

.frame-section .top-link::after {
    content: '';
    background: url('../images/arrow-down-black.png') no-repeat center / contain;
    width: 10px;
    height: 6px;
    transform: rotate(-90deg);
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.frame-section .top-link:hover {
    color: #0068b7;
}

.frame-section .top-link:hover::after {
    background: url('../images/arrow-down-black_hover.png') no-repeat center / contain;
}

#content.sub-page .main-section {
    width: 100%;
    padding: 20px 0;
}

#content.sub-page .main-section .title-sub-page {
    font-size: 40px;
    font-weight: 800;
}

.edit .frame-section .content-frame input {
    width: 100%;
    border: 1px solid #ddd;
    padding: 0 6px;
    font-weight: 600;
    height: 33px;
    margin-left: -6px;
    margin-right: -6px;
}

/* select */
#information-management .form-select-container {
    margin-left: -6px;
    height: 33px;
}

#information-management .form-select-container>.form-select-cus {
    border-radius: 0;
    border-color: #ddd;
}

#information-management .form-select-container.active>.form-select-cus {
    border-color: transparent;
}

#information-management .form-select-container>.form-select-cus>.form-option-placeholder {
    color: #333;
    padding: 0 6px;
}

.table-col-span {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 20px 30px 20px 0;
}

.frame-section .content-frame .button {
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-weight: 600;
    padding: 0 25px;
    white-space: nowrap;
    margin-right: 6px;
}

.table-content.table-row {
    flex-direction: row !important;
    align-items: center;
    justify-content: start !important;
}

.edit .table-content.table-row input {
    width: 160px;
    margin-right: 0;
}

.edit .table-content.table-row input:not(:first-child) {
    margin-left: 0;
}

#information-management .form-select-container:not(:first-child) {
    margin-left: 0;
}

#content.sub-page .edit .main-section .frame-section:not(.edit-image) .content-frame .table-horizontal li .table-content {
    padding: 0 24px;
}

.edit .table-content.table-row>span {
    width: 10px;
}

@media screen and (width <=1320px) {
    #top-sub-page #side-nav {
        position: fixed;
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        z-index: 1;
        transition: all 0.3s ease;
        right: 0;
    }

    #top-sub-page #side-nav.active {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }

    #icon-side-nav {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 40px;
        height: 40px;
        z-index: 1;
    }

    #icon-side-nav span {
        position: absolute;
        top: 50%;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: #333;
    }

    #icon-side-nav span:before {
        content: "";
        position: absolute;
        top: -10px;
        left: 0;
        width: 40px;
        height: 3px;
        background-color: #333;
    }

    #icon-side-nav span::after {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        width: 40px;
        height: 3px;
        background-color: #333;
    }

    #icon-side-nav.close span {
        background-color: transparent;
    }

    #icon-side-nav.close span:before {
        width: 25px;
        transform: rotate(45deg) translate(11px, 3px);
    }

    #icon-side-nav.close span::after {
        width: 25px;
        transform: rotate(-45deg) translate(11px, -3px);
    }

    #icon-side-nav.active {
        transition: 0.35s all 0.04s ease;
    }

    .side-banner {
        display: none;
    }

    #content.sub-page .main-section .content-frame .table-horizontal li {
        display: grid !important;
        grid-template-columns: 130px calc(100% - 130px) !important;
    }

    #content.sub-page .main-section .content-frame .table-horizontal li .table-content+.table-title,
    #content.sub-page .main-section .content-frame .table-horizontal li .table-content+.table-title+.table-content {
        border-top: 1px solid #ddd;
    }

    .frame-section.frame-gray-header .content-frame {
        padding: 20px;
    }
}

#content.sub-page .main-section .content-frame .table-horizontal li .table-content .images-list {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 15px;
    align-items: center;
}

#content.sub-page .main-section .content-frame .table-horizontal li .table-content .images-list .image-container {
    width: auto;
    position: relative;
}

.button-remove {
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: #cecece;
    z-index: 1;
    top: -5px;
    right: -5px;
    cursor: pointer;
}

.button-remove::after,
.button-remove::before {
    content: '';
    width: 1px;
    height: 9px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.button-remove::after {
    transform: rotate(45deg);
}

.button-remove::before {
    transform: rotate(-45deg);
}

#content.sub-page .main-section .edit-image .content-frame .table-horizontal li .table-title {
    justify-content: center;
    padding: 20px 24px;
}

.table-content textarea {
    resize: none;
    line-height: 25px;
    border: 1px solid #ddd;
    margin-left: -6px;
    margin-right: -6px;
    padding: 10px;
    font-weight: 600;
}

.table-content #member-desc {
    height: 100px;
}

.table-content #company-desc {
    height: 260px;
}

#password-subpage {
    width: 100%;
}

#password-subpage .frame-section {
    margin-top: 85px;
}

#password-subpage .frame-section .header-frame {
    border-bottom: none;
    margin-top: 0;
    padding-bottom: 0;
}

#password-subpage .frame-section .content-frame {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    padding: 60px;
}

#password-subpage .frame-section .content-frame h1 {
    font-weight: 400;
    font-size: 20px;
    color: #076ecc;
}

#password-subpage .frame-section .content-frame strong {
    font-size: 18px;
    color: #cc0000;
}

#password-subpage .form-container {
    display: flex;
    align-items: center;
    gap: 60px;
}

#password-subpage .form-container .input-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#password-subpage .form-container .form-group {
    display: flex;
    align-items: center;
}

#password-subpage .form-container .form-group>label {
    font-size: 24px;
    width: 110px;
}

#password-subpage .form-container .form-group>span {
    font-size: 24px;
    color: #076ecc;
}

#password-subpage .form-container .form-group input {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 18px;
}

#password-subpage .form-container .button-group {
    margin-top: 0;
    height: 60px;
}

#password-subpage .form-container .button-group .button {
    margin-right: 0;
    min-width: 100px;
}

.main-section .frame-gray-header .content-frame .blue-text {
    color: #076ecc;
    font-size: 19px;
    margin-bottom: 15px;
    line-height: 25px;
    position: relative;
    padding-left: 23px;
}

.main-section .frame-gray-header .content-frame .blue-text:last-child {
    margin-bottom: 0;
}

.main-section .frame-gray-header .content-frame .blue-text .icon {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 4px;
}

.main-section .frame-gray-header .header-frame .icon {
    width: 23px;
    height: 23px;
}

.main-section .frame-gray-header .header-frame .icon::after {
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.main-section .table-horizontal .table-content #withdraw-desc {
    height: 210px;
    font-size: 18px;
    font-weight: 400;
}

.main-section .table-horizontal .table-content .blue-text {
    padding-left: 0;
    font-size: 24px;
    font-weight: 200;
}

.main-section .table-horizontal.table-white .table-content textarea,
.main-section .table-horizontal.table-white .table-content input {
    border-radius: 5px;
}

@media screen and (width <=1320px) {
    #password-subpage .form-container {
        gap: 15px 30px;
        flex-wrap: wrap;
    }

    #password-subpage .frame-section .content-frame {
        padding: 20px;
    }

    #password-subpage .form-container .input-container {
        width: 100%;
    }

    #password-subpage .form-container .form-group {
        gap: 15px;
    }

    #password-subpage .form-container .form-group input {
        width: 100%;
    }

    #password-subpage .form-container .form-group>label {
        width: 120px;
        min-width: 120px;
    }

    #password-subpage .form-container .button-group,
    #password-subpage .form-container .button-group .button {
        width: 100%;
    }

    .button-group {
        flex-wrap: wrap;
    }
}

#lock-info-subpage {
    width: 100%;
}

#lock-info-subpage .frame-section.frame-table-horizontal .content-frame {
    padding: 20px 0;
}

#lock-info-subpage .frame-section.frame-table-horizontal .content-frame ul li {
    position: relative;
    padding-left: 20px;
    font-size: 18px;
    margin-bottom: 10px;
}

#lock-info-subpage .frame-section.frame-table-horizontal .content-frame ul li span {
    padding-left: 20px;
}

#lock-info-subpage .frame-section.frame-table-horizontal .content-frame ul li:last-child {
    margin-bottom: 0;
}

#lock-info-subpage .frame-section.frame-table-horizontal .content-frame ul li.bullet::before {
    content: '※';
    position: absolute;
    top: 0;
    left: 20px;
}

#lock-info-subpage .frame-section.frame-table-horizontal .header-frame {
    border-color: transparent;
    padding-bottom: 18px;
}

#lock-info-subpage .frame-section.frame-table-horizontal .header-frame h1.bullet {
    position: relative;
    color: #076ecc;
    font-size: 22px;
    padding-left: 20px;
    align-items: end;
}

#lock-info-subpage .frame-section.frame-table-horizontal .header-frame h1.bullet::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #076ecc;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
}

#lock-info-subpage .frame-section.frame-table-horizontal .header-frame h1.bullet::after {
    content: '';
    width: 4px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    top: 9px;
    left: 3px;
    border-radius: 50%;
}

#lock-info-subpage .frame-section.frame-table-horizontal .header-frame h1>span {
    font-size: 14px;
    color: #999;
    margin-left: 10px;
}

#lock-info-subpage .frame-section.frame-table-horizontal .content-frame.content-form {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #333;
    padding: 15px 0;
}

#lock-info-subpage .frame-section.frame-table-horizontal .content-frame.content-form ul li {
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#lock-info-subpage .frame-section.frame-table-horizontal .content-frame.content-form ul li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

#lock-info-subpage .frame-section.frame-table-horizontal .content-frame ul li label {
    display: flex;
    align-items: center;
}

#lock-info-subpage .frame-section.frame-table-horizontal .content-frame ul li label span {
    width: 250px;
    padding-left: 0;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
}

#lock-info-subpage .frame-section.frame-table-horizontal .content-frame ul li label input[type="text"] {
    width: 230px;
    border-radius: 5px;
    border: 1px solid #ddd;
    height: 36px;
    padding: 0 10px;
}

#lock-info-subpage .frame-section.frame-table-horizontal .content-frame .require-input {
    color: #076ecc;
    font-size: 20px;
    font-weight: 400
}

#lock-info-subpage .frame-section.frame-table-horizontal .content-frame ul li label .require-input {
    font-size: 14px;
    margin-left: 15px;
}

@media screen and (width <=950px) {

    #lock-info-subpage .frame-section.frame-table-horizontal .content-frame .require-input,
    #lock-info-subpage .frame-section.frame-table-horizontal .content-frame ul li label .require-input,
    #lock-info-subpage .frame-section.frame-table-horizontal .content-frame ul li span {
        word-break: keep-all;
    }

    #lock-info-subpage .frame-section.frame-table-horizontal .content-frame ul li label .require-input {
        flex: 1;
        line-height: 1.2;
        margin-left: 0;
    }
}

@media screen and (width <=768px) {
    #lock-info-subpage .frame-section.frame-table-horizontal:nth-child(4) .content-frame.content-form ul li label {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    #lock-info-subpage .frame-section.frame-table-horizontal .content-frame ul li label input[type="text"] {
        width: 100%;
    }

    #lock-info-subpage .frame-section.frame-table-horizontal .content-frame.content-form ul li {
        padding-left: 15px;
        padding-right: 15px;
    }

    #lock-info-subpage .main-section .frame-section.frame-gray-header {
        margin-top: 18px;
    }

    #content.sub-page {
        padding: 30px 0 10px;
    }
}