/* Tab */
.tabs {
    display: flex;
    border-bottom: 1px solid #333;
    padding: 0;
}

.tabs.hide-border-bottom {
    display: flex;
    border-bottom: none;
    padding: 0;
}

.tabs li {
    width: 100%;
    cursor: pointer;
}

.tabs.short-tab li {
    max-width: 140px;
}

.tabs li+li {
    margin-left: -1px;
}

.tabs li span {
    display: block;
    border: none;
    outline: none;
    border: 1px solid #ddd;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    color: #666;
    font-size: 20px;
    height: 44px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs.border-active-blue li {
    border-bottom: 1px solid #0068b7;
}

.tabs li.active {
    z-index: 12;
}

.tabs li.active span {
    border: none;
    outline: none;
    border: 1px solid #000;
    border-bottom: none;
    color: #000;
    font-weight: 500;
    background-color: #fff;
}

.tabs.border-active-blue li.active {
    border-bottom: #fff;
}

.tabs.border-active-blue li.active span {
    border: 1px solid #0068b7;
    border-bottom: none;
    color: #0068b7;
}

/* Tab no border */
.tabs-no-border {
    display: flex;
    flex-direction: row;
    padding-bottom: 16px;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
    gap: 15px 32px;
}

.tabs-no-border li:last-child {
    padding-right: 0;
}

.tabs-no-border li a {
    font-size: 20px;
    color: #666;
}

.tabs-no-border li.active a {
    color: #0068b7;
    font-weight: 500;
}

li.dot {
    position: relative;
    padding-left: 15px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
}

li.dot::before {
    content: "";
    background-color: #ddd;
    width: 5px;
    height: 5px;
    position: absolute;
    left: 0;
    top: 11px;
    border-radius: 50px;
}

/* Tabs Content */
.tabs-content {
    border: 1px solid #000000;
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.tab-content-item {
    position: relative;
    padding: 39px 80px 53px;
    display: none;
}

.tab-content-item.active {
    display: block;
}

.tabs.tab-user {
    align-items: end;
    padding-bottom: 30px;
    border-bottom: 1px solid #111;
    margin-top: 5px;
}

.tabs.tab-user:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #0068b7;
}

.tabs.tab-user li a {
    font-weight: 300;
    color: #999;
    background-color: #f9f9f9;
}

.tabs.tab-user li.active a {
    color: #0068b7;
    font-weight: 600;
    background-color: #fff;
}

/* Wrap Tab Form Search Position*/
.top-form {
    display: flex;
    margin: 44px 0 29px;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.top-form .form-select-container {
    z-index: 13;
}

#tabs-form h2 {
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 0;
}

#tabs-form .tabs li {
    position: relative;
}

#tabs-form .tabs li:last-child {
    max-width: 204px;
}

#tabs-form .tabs li span {
    text-align: left;
    padding-left: 25px;
    position: relative;
    color: #999;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
}

#tabs-form .tabs li.active span {
    font-weight: 400;
    color: #333;
    font-size: 20px;
}

#tabs-form .tabs li .icon {
    display: block;
    width: 16px;
    height: 16px;
}

#tabs-form .tabs li .icon:after {
    display: flex;
}

#tabs-form .tabs-select {
    display: flex;
    border: 1px solid #333;
    border-top: transparent;
}

/* Start tabs-select-bag */
#tabs-form .tabs-select-bag {
    padding: 24px;
}

#tabs-form .tabs-select-bag ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#tabs-form .tabs-select-bag ul li {
    border: 1px solid #dddddd;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 17px 0;
    font-size: 19px;
    font-weight: 400;
    cursor: pointer;
}

#tabs-form .tabs-select-bag ul li:nth-child(-n+4) {
    border-right: unset;
    border-bottom: unset;
}

#tabs-form .tabs-select-bag ul li:nth-child(5) {
    border-bottom: unset;
}

#tabs-form .tabs-select-bag ul li:nth-child(n + 6) {
    border-right: unset;
}

#tabs-form .tabs-select-bag ul li:nth-child(10) {
    border-right: 1px solid #dddddd;
}


#tabs-form .tabs-select-bag ul li:hover {
    background-color: #eef7fd;
    color: #0068b7;
    font-weight: 600;
}

.tabs-select ul li:empty {
    pointer-events: none;
}